*{
margin: 0;
padding: 0;
}

body{
    background-color: black;
}

#pedido{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 90px;
    background-color: red;
    color: white;
    font-size: 1.4rem;
    border: 2px solid white;
}

.retornarloja{
    margin-left: 10px;
}

.retornarloja img {
    margin-top: 10px;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

h1{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 8vh;
    border: 2px solid white ;
    border-radius: 10px;
}

.dinheiro{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 4vh;
    border: 2px solid white;
    border-radius: 10px;
}

.document{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 4vh;
    border: 2px solid white;
    border-radius: 10px;
}

.document:hover {
    color: white;
    border: 2px solid red;
    background: black;
}