* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url("../Assets/fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

nav {
    background-color: red;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}

nav h1 {
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    position: static;
}

#carrinho-container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#lista {
    list-style: none;
    padding: 0;
    margin: 20px auto;
}

#lista li {
    background: #f8f9fa;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#total {
    font-size: 1.5rem;
    color: #333;
    margin: 20px 0;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: black;
}

#pedido {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 10px;
}

#sc {
    margin: auto;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.document{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 4vh;
    border: 2px solid white;
    border-radius: 10px;
}

.document:hover {
    color: white;
    border: 2px solid red;
    background: black;
}